In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [2]:
mouse_data = pd.read_csv("resources/mouse_drug_data.csv")
clinical_data = pd.read_csv("resources/clinicaltrial_data.csv")
# mouse_data.head()
# clinical_data.head()

In [3]:
combined_data = pd.merge(clinical_data, mouse_data, on= 'Mouse ID', how='left')
combined_data.head()

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites       Drug
0     b128          0                45.0                 0  Capomulin
1     f932          0                45.0                 0   Ketapril
2     g107          0                45.0                 0   Ketapril
3     a457          0                45.0                 0   Ketapril
4     c819          0                45.0                 0   Ketapril

In [4]:
Tumor_volume_mean = combined_data.groupby(['Drug','Timepoint'])['Tumor Volume (mm3)'].mean().reset_index()
Tumor_volume_mean.head(5)

        Drug  Timepoint  Tumor Volume (mm3)
0  Capomulin          0           45.000000
1  Capomulin          5           44.266086
2  Capomulin         10           43.084291
3  Capomulin         15           42.064317
4  Capomulin         20           40.716325

In [5]:
Tumor_volume_sem = combined_data.groupby(['Drug','Timepoint'])['Tumor Volume (mm3)'].sem().reset_index()
Tumor_volume_sem.head()

        Drug  Timepoint  Tumor Volume (mm3)
0  Capomulin          0            0.000000
1  Capomulin          5            0.448593
2  Capomulin         10            0.702684
3  Capomulin         15            0.838617
4  Capomulin         20            0.909731